:root {
    --basic-black: #000000;
    --basic-extra-dark: #242424;
    --basic-dark: #aba9a7;
    --basic-neutral: #e5e5e5;
    --basic-extra-light: #f8f5f2;
    --basic-white: #ffffff;

    --special: #663d15;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-white);
    text-transform: uppercase;

    background-color: var(--basic-black);
    background-image: url(../img/background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.advantages-list,
.news-list,
.appointment-list,
.footer-social ul,
.login-list,
.filter ul,
.catalog-list,
.pagination-list,
.site-navigation,
.breadcrumbs,
.product-page-small-images,
.product-page-info ul,
.inner-content ul {
    list-style: none;
}

.page {
    height: 100%;
}

.inner-page {
    background-color: var(--basic-extra-light);
    background-image: url(../img/pattern-light.png);
    background-position: 0 0;
    background-repeat: repeat;

    color: var(--basic-black);
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-page-title {
    font-size: 30px;
    line-height: 42px;

    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

/* GRID */
.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-items: start;
}

.page-catalog {
    display: grid;
    grid-template-columns: 180px 1fr;
    align-items: start;

}

.page-price {    
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;

}

.page-product {
    display: grid;
    grid-template-columns: 460px 1fr;
    align-items: start;
}

.page-catalog .main-page-title,
.page-product .main-page-title,
.page-price .main-page-title {
    grid-column: 1 / -1;
}

/* BUTTON */
.button {
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;

    background-color: var(--basic-black);
    border: none;

    display: inline-block;
    margin-right: 16px;
    padding: 10px 30px;
}

.button:hover,
.button:focus,
.button:active {
    background-color: var(--special);
}

.button.disabled,
.button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: var(--basic-black);
}

/* BREADCRUMBS */
.breadcrumbs {
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.breadcrumbs li {
    position: relative;
    margin-right: 42px;
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs li::after {
    content: "";
    position: absolute;
    top: 7px;
    right: -25px;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background-color: var(--basic-black);
}

.breadcrumbs a {
    color: var(--basic-black);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}

.page-catalog .breadcrumbs,
.page-product .breadcrumbs,
.page-price .breadcrumbs {
    grid-column: 1 / -1;
    margin-bottom: 50px;
}

.breadcrumbs-current {
    color: var(--basic-dark);
}

.breadcrumbs-current::after {
    display: none;
}

/* HEADER */

.main-header {
    margin-bottom: 75px;
}

.inner-page .main-header {
    margin-bottom: 50px;

    background-color: var(--basic-black);
}

/*LOGO*/

.main-header-logo {
    width: 368px;
    height: 153px;

    order: 2;
}

.inner-page .main-header-logo {
    order: 0;

    width: 111px;
    height: 24px;
    padding: 23px 20px;
}

/*MAIN NAVIGATION */

.main-navigation {
    font-size: 16px;
    line-height: 20px;
    color: var(--basic-white);

    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-page .main-navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.main-navigation-wrapper {
    background-color: var(--basic-black);

    width: 100%;
    margin-bottom: 60px;
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}


/* SITE NAVIGATION and USER NAVIGATION */

.site-navigation {
    width: 620px;
    margin: 0;
    padding: 0;
    min-height: 70px;

    display: flex;
    flex-wrap: wrap;
}

.user-navigation {
    max-width: 140px;

    text-align: center;
}

.inner-page .user-navigation {
    margin-left: auto;
}

.site-navigation a,
.user-navigation {
    color: var(--basic-white);

    display: block;
    padding: 25px 20px;
}

.site-navigation-current {
    position: relative;
}

.site-navigation-current a:not([href]) {
    background-color: var(--basic-black);
}

.site-navigation-current::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 20px;
    left: 20px;
    height: 4px;
    background-color: var(--basic-white); 

}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation:hover,
.user-navigation:focus {
    background-color: var(--basic-extra-dark);
}

.user-navigation .login-link {
    padding-left: 12px;
}

/* ADVANTAGES */

.advantages {
    display: block;
    margin-bottom: 80px; 
}

.advantages-list {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}


.advantage-item {
    width: 300px;
    text-align: center;
}

.advantage-item h3 {
    font-size: 30px;
    line-height: 42px;

    margin: 0;
    margin-bottom: 60px;

    position: relative;
}

.advantage-item h3::after {
    content: "";
    width: 20px;
    height: 20px;

    background-color: var(--basic-white);

    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -10px;
    transform: rotate(45deg);
}

.advantage-item p {
    margin: 0 10px;
}

/* INDEX COLUMNS */

.index-columns {
    color: var(--basic-black);
    background-color: var(--basic-extra-light);
    background-image: 
        url(../img/line.png),
        url(../img/pattern-light.png);
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;

    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    padding: 50px 80px;
}

.index-columns h2 {
    font-size: 30px;
    line-height: 42px;

    margin: 0;
    margin-bottom: 25px;
}

/* NEWS */

.news {
    width: 380px;
}

.news-list {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}

.news-item {
    margin-bottom: 25px;
}

.news-item p {
    margin: 0;
}

.news-item time {
    text-transform: none;
}

/* GALLERY */

.gallery {
    width: 300px;
}

.gallery-container {
    height: 260px; /*если картинка не загрузится, то блок не схлопнется*/
    position: relative;
}

.gallery-content {
    background-color: var(--basic-dark);
    border: 7px solid var(--basic-white);

    height: 164px; 
    margin: 0;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

.gallery-button {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;

    width: 140px;
    margin: 0;
}

.gallery-button-back {
    left: 0;
}

.gallery-button-next {
    right: 0;
}

/* CONTACTS */
.contacts {
    width: 380px;
}

.contacts p {
    margin: 0;
    margin-bottom: 25px;
}

/* APPOINTMENT */

.appointment {
    width: 300px;
}

.appointment p {
    margin: 0;
    margin-bottom: 15px;
}

.appointment-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;

    padding: 0;

}

.appointment-item {
    margin: 0;
    margin-bottom: 10px;

    width: 140px;
}

.appointment-item label {
    display: block;
    margin-bottom: 9px;
    margin-left: 15px;
}

.appointment-item input {
    font: inherit;
    background-color: transparent;
    border: 2px solid var(--basic-black);

    width: 140px;
    box-sizing: border-box;
    padding: 8px 15px 7px 15px;
}

.appointment-item input:focus {
    border-color: var(--special);
}

.appointment .button {
    margin-top: 10;
    margin-right: 0;

    display: block;
    width: 100%;
}

/* MAIN FOOTER */

.main-footer {
    color: var(--basic-white);
    background-color: var(--basic-extra-dark);
    background-image: url(../img/pattern-black.png);
    background-position: 0 0;
    background-repeat: repeat;

    padding: 60px 0;
    margin-top: 65px;
}

.main-footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main-footer b {
    display: block;
    margin-bottom: 15px;
}

/* CONTACT*/

.footer-contacts {
    margin: 0;
    width: 320px;
} 

.footer-contacts p{
    margin: 0;
}

.footer-contacts a {
    color: var(--basic-white);
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

/* SOCIAL */

.footer-social {
    text-align: center;

    width: 145px;
    justify-self: center;
}

.footer-social ul {
    width: 141px;
    margin: 0 auto;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.social-button {
    color: inherit;
    background-color: var(--basic-black);

    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-button:hover,
.social-button:focus {
    background-color: var(--basic-white);
}

.social-button:hover path,
.social-button:focus path {
    fill: var(--basic-black);

}

/* COPYRIGHT */

.footer-copyright {
    width: 150px;
    margin: 0;
    justify-self: end;

    text-align: center;
}

.footer-copyright .button {
    display: block;
    margin-right: 0;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

/* CATALOG PAGE*/

/* FILTERS */
.filter {
    width: 180px;
}

.filter fieldset { 
    padding: 0;
    margin: 0;
    margin-bottom: 30px;

    border: none;
}

.filter fieldset:first-child {
    margin-bottom: 35px;
}

.filter legend {
    font-size: 24px;
    line-height: 30px;

    margin-bottom: 26px;
}

.filter ul {
    line-height: 18px;

    padding: 0;
    margin: 0;
}

.filter-option {
    margin-bottom: 19px;
    padding-left: 45px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
    color: var(--special);
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid var(--basic-black);
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    left: -38px;
    top: 4px;
    width: 12px;
    height: 12px;
    background-image: url(../img/cross.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: -1px;
    width: 16px;
    height: 16px;
    border: 2px solid var(--basic-black);
    border-radius: 50%;
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    left: -36px;
    top: 5px;
    width: 8px;
    height: 8px;
    background-color: var(--basic-black);
    border-radius: 50%;
}

/* CATALOG PRODUCTS */
.catalog {
    margin-left: 60px;
}

.catalog-list {
    padding: 0;
    margin: 0;
    margin-bottom: 25px;

    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
    width: 220px;
    min-height: 285px;
    margin: 0 20px 20px 0;

    background-color: var(--basic-extra-light);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
    display: flex;
    flex-direction: column;
    color: var(--basic-black);
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item h3 {
    font-size: 14px;
    line-height: 18px;

    margin: 17px 15px 12px 16px;
    order: 1;
}

.catalog-item-img {
    width: 220px;
    height: 165px;
    margin: 0;
    object-fit: contain;
    background-color: var(--basic-extra-light);
}

.catalog-category {
    display: block;
    text-transform: none;
}

.catalog-item-price {
    display: flex;
    margin: 15px;
    margin-top: 0px;
}

.catalog-item-price b {
    width: 112px;
    padding: 13px 25px 11px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    background-color: var(--basic-neutral);
    text-align: center;
}

.catalog-item-price .button {
    width: 78px;
    margin-right: 0;

    padding: 13px 18px 11px;
    line-height: 20px;
    color: var(--basic-white);
}

/* PAGINATION */

.pagination-list {
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
}

.pagination-item {
    margin-right: 5px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-item a {
    display: block;
    padding: 10px 19px;
    color: var(--basic-white);
    
    background-color: var(--basic-black);
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
    background-color: var(--special);
}

.pagination-item-current a {
    color: var(--basic-black);

    background-color: var(--basic-white);
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: var(--basic-black);
    
    background-color: var(--basic-white);
}

/*PRODUCT PAGE */

.product-page-small-images {
    display: flex;
    margin: 0;
    padding: 0;
}

.product-page-main-image {
    display: block;
    width: 460px;
    height: 498px;
    margin: 0;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-page-small-images li {
    width: 140px;
    height: 149px;
    margin-right: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-page-small-images li:nth-child(3n) {
    margin-right: 0;
}

.product-page-small-images li:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.product-description {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    margin-bottom: 29px;
}

.product-description p {
    width: 200px;
}

.product-article {
    text-align: right;
    color: var(--basic-dark);
}

.product-price b {
    text-align: center;
    line-height: 20px;

    background-color: var(--basic-neutral);

    width: 112px;
    padding: 13px 36px 11px 36px;
    box-sizing: border-box;
}

.product-page-info {
    width: 390px;
    padding-top: 23px;
    padding-left: 80px;
}

.product-page-info p {
    margin: 0;
}

.product-page-info h3 {
    font-size: 24px;
    line-height: 30px;

    margin: 0px;
    margin-bottom: 27px;
}

.product-page-info ul {
    margin: 0;
    padding: 0;
}

.product-page-info li {
    position: relative;
    padding-left: 23px;
}

.product-page-info li::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 2px;
    width: 8px;
    height: 8px;
    background-color: var(--basic-black);
    transform: rotate(45deg);
}

.product-page-info .product-text {
    margin-bottom: 35px;
}

.product-page-info .product-price {
    margin-bottom: 63px;

    display: flex;
}

.product-price .button {
    padding-left: 17px;
    padding-right: 17px;
}



/* PRICE PAGE */
.page-price {
    margin-bottom: 13px;
}

.price-content {
    margin-bottom: 38px;
}

.big-heading {
    font-size: 48px;
    line-height: 48px;
    margin: 0;

    display: flex;
    align-items: center;
}

.big-heading::before, 
.big-heading::after {
    content: "";
    flex-grow: 1;  
    flex-shrink: 0;
    height: 2px;
    background-color: var(--basic-black);
}

.big-heading::before {
    margin-right: 25px;
}

.big-heading::after {
    margin-left: 25px;
}

.inner-content h2 {
    font-size: 24px;
    line-height: 30px;

    margin: 0;
    margin-bottom: 27px;

    margin-top: 60px;
}

.inner-content ul {
    padding: 0;
}

.inner-content li {
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
}

.inner-content li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 8px;
    height: 8px;
    background-color: var(--basic-black);
    transform: rotate(45deg);
}



.price-row {
    display: flex;
    justify-content: space-between;

}

.used-products {
    width: 240px;
}

.catalog-prices {
    width: 460px;
}

.price-table {
    width: 100%;
    border-collapse: collapse;

    line-height: 24px;
}


.price-table td {
    width: 50%;
    border: 2px solid var(--basic-black);
    padding: 7px 19px 10px 19px;
}

.price-table td:last-child {
    text-align: center;
}

.inner-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
}

.inner-columns-left,
.inner-columns-right {
    width: 460px;
}

.inner-columns-left *:first-child,
.inner-columns-right *:first-child {
    margin-top: 0;
}

.inner-columns-left *:last-child,
.inner-columns-right *:last-child {
    margin-bottom: 0;
}

.inner-columns > h2:first-child {
    margin-top: 0;
    width: 100%;
}

/* MODAL */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: none;

    color: var(--basic-black);
    background-color: var(--basic-extra-light);
    background-image: url(../img/pattern-light.png);
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
/*MODAL CLOSE */

.modal-close {
    position: absolute;
    top: 0;
    right: -34px;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 19px;
    height: 3px;
    background-color: var(--basic-dark);
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

/* MODAL LOGIN */

.modal-login {
    top: 120px;
    bottom: auto;
    width: 300px;
    padding: 50px 80px;
}

.modal-login h2 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 42px;
}

.modal-description {
    margin: 0;
    margin-bottom: 10px;
}

.login-form ul {
    margin: 0;
    padding: 0;
}

.login-form li {
    margin: 0;
    margin-bottom: 10px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    box-sizing: border-box;
    width: 300px;
    padding: 10px 40px 10px 15px;
    font: inherit;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-extra-light);
    border: 2px solid var(--basic-black);
}

.login-form input:focus {
    border-color: var(--special);
}

.login-icon-user {
    background-image: url(../img/account.svg);
    background-position: 270px center;
    background-repeat: no-repeat;
}

.login-icon-password {
    background-image: url(../img/lock.svg);
    background-position: 270px center;
    background-repeat: no-repeat;
}

.login-password-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

.login-password-info label {
    padding-left: 32px;
    position: relative;
}

.login-password-info label::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0;
    
    width: 20px;
    height: 20px;
    
    border: 2px solid #000000;
}

.input-remember-checkbox:checked + label::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 6px;

    width: 12px;
    height: 12px;
    border: none;
    background-image: url(../img/login_remember_cross.svg);
}

.restore {
    color: var(--basic-black);
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}

.login-form button {
    width: 100%;
}

/* MODAL MAP */

.modal-map {
    top: 120px;
    bottom: auto;
    width: 766px;
    height: 560px;
    border: 7px solid white;
}

.modal-map img {
    display: block;
}